.form-group
  & + &
    margin-top: 1rem

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea
  -webkit-appearance: none
  background-color: white
  border: none
  border-bottom: 3px solid $color-border
  border-radius: 0
  font-family: $font-family
  font-size: 1rem
  line-height: 1.5
  min-height: 4rem
  padding: 1rem
  width: 100%

textarea
  min-height: 15rem

input.inline
  display: inline

input.datetime
  letter-spacing: 0.25rem
  text-align: center
  width: 32.5%

  +at-least($medium)
    margin-left: 1rem
    width: 8rem

.form--label
  display: block
  font-style: italic
  font-weight: bold
  margin-bottom: 1rem

  +at-least($medium)
    display: inline-block
    margin-bottom: 0

.form--gender
  -webkit-appearance: none
  background-color: white
  border: none
  border-bottom: 3px solid $color-border
  border-radius: 0
  display: inline-block
  font-family: $font-family
  font-size: 1rem
  line-height: 1.5
  min-height: 4rem
  padding: 1rem 1.5rem

  +at-least($medium)
    margin-left: 1rem

.form--gender-title
  color: $color-gray
  margin-left: 0.25rem

.form-group--street
  & input:nth-child(1)
    width: 62%
    +at-least($medium)
      width: 63.5%
  & input:nth-child(2)
    width: 20%
  & input:nth-child(3)
    width: 15%

.form-group--pc
  & input:nth-child(1)
    width: 29%
    +at-least($medium)
      width: 30%
  & input:nth-child(2)
    width: 69%
